body {
    background-color: #ff851b;
}
#app{ 
    width:400px;
    margin: auto;
    border: solid;
    background-color: saddlebrown;
    border-color: dimgrey;
    border-radius: 25px;
}
#app h1{
    text-align: center;
    background-color: #7fa7ff;
    border-radius: 25px;
    color: #ffffff;
}
#app ul {
    list-style-type: none;
    color: rgba(0, 0, 0, 0.64)
}
#app li {
    border: solid;
    border-color: orange;
    background-color: white;
    overflow: hidden;
}
#cancel{
    float: right;
}
.cancelled {
    text-decoration: line-through;
}
#destroy {
    background-image: url("image/delete-mini.png");
    width: 15px;
    height: 15px;
    background-color: transparent;
    border: medium none;
    float: left;
}
#destroy:hover {
    background-position: -15px;
    cursor: pointer;
}

