body {
    background-color: #ff851b;
}
#app{ 
    width:400px;
    margin: auto;
    border: solid;
    background-color: saddlebrown;
    border-color: dimgrey;
    border-radius: 25px;
}
#app h1{
    text-align: center;
    background-color: #7fa7ff;
    border-radius: 25px;
    color: #ffffff;
}
#app ul {
    list-style-type: none;
    color: rgba(0, 0, 0, 0.64);
    padding-right: 40px;
}
#app li {
    border: solid;
    border-color: orange;
    background-color: white;
    overflow: hidden;
}
.cancel{
    float: right;
}
.cancelled {
    text-decoration: line-through;
}
.destroy {
    background-image: url("image/delete-mini.png");
    width: 15px;
    height: 15px;
    background-color: transparent;
    border: medium none;
    float: left;
}
.destroy:hover {
    background-position: -15px;
    cursor: pointer;
}
#add {
    width: 79%;
    height: 50px;
    font-size: 2em;
    color: rgba(0, 0, 0, 0.69);
    margin-left: 40px;
}
#overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    opacity: 0.6;
    z-index: 1001;
    background: none repeat scroll 0 0 rgb(187, 187, 187);
}
#login-container {
    z-index: 1002;
    position: fixed;
    width: 245px;
    background-color: darkgray;
}
#login-header {
    color: #ffffff;
    background-color: gray;
}

